<h1>Menu</h1>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
	<div class="btn-group" role="group" aria-label="Section group">
		<% Section.all.each do |section| %>
		 <%= link_to section, menu_path(section: section, search: params[:search]), class: "btn btn-secondary #{'active' if params[:section] == section}" %>
		<% end %>
	</div>
	<div class="btn-group" role="group" aria-label="FoodType group">
		<% FoodType.all.each do |food_type| %>
			<%= link_to food_type, menu_path(food_type: food_type, search: params[:search]), class: "btn btn-secondary #{'active' if params[:food_type] == food_type}" %>
		<% end %>
	</div>
</div>

<div class="card card-block">
	<%= form_tag nil, method: 'get' do %>
	<%= hidden_field_tag :section, params[:section] %>
	<%= hidden_field_tag :food_type, params[:food_type] %>
	<%= hidden_field_tag :search, params[:search] %>
		<div class="form-inline">
			<%= select_tag :sort_column, options_for_select([['Name', 'name'], ['Price', 'price'], ["Viewed", 'food_view']]), class: 'form-control' %>
			<%= select_tag :sort_direction, options_for_select([['Ascending', 'asc'], ['Descending', 'desc']]), class: 'form-control' %>
			<%= submit_tag "Sort", class: 'btn btn-secondary' %> 
		</div>  
	<% end %>
</div>

<% @food_items.in_groups_of(3) do |group| %>
	<div class="row">
		<% group.compact.each do |food_item| %>
			<div class="col-sm-4">
				<div class="card">
					<%= image_tag food_item.image_url, class: 'card-img-top' %>
					<div class="card-block">
						<h4 class="card-title">
							<%= link_to food_item.name, food_item_path(food_item.id) %>
							<% if food_item.orders.size > 0 %>
								<span class="tag tag-default"><%= food_item.orders.size %></span>
							<% end %>
						</h4>
						<h3>
							<span class="tag tag-success"><%= food_item.price %></span>
						</h3>
						<% if food_item.food_view != nil %>
							Viewed: <%= food_item.food_view %>
						<% end %>
						<p class="card-text"><%= food_item.description %></p>
					</div>
					<div class="card-block">
						<%= link_to "Order", new_food_item_order_path(food_item_id: food_item.id), class: 'card-link btn btn-danger' %>
						<!-- <a href="#" class="card-link btn btn-danger">Order</a> -->
					</div>
				</div>
			</div>
		<% end %>
	</div>
<% end %>
