<div class="card">
  <div class="card-block">
    <h1 class="card-title">
      <%= @food_item.name %>
      <% if @food_item.orders.size > 0 %>
        <span class="tag tag-default"><%= @food_item.orders.size %></span>
      <% end %>
    </h1>
    <h1>
      <span class="tag tag-success"><%= @food_item.price %></span>
    </h1>
    <h3>
      <span class="tag tag-info"><%= @food_item.section %></span>
      <span class="tag tag-info"><%= @food_item.food_type %></span>
    </h3>
    <% if @food_item.food_view != nil %>
      Viewed: <%= @food_item.food_view %>
    <% end %>
    <p class="card-text"><%= @food_item.description %></p>
  </div>
  <div class="card-block">
    <%= image_tag @food_item.image_url, width: '640', class: 'card-img-top' %>
  </div>
  <div class="card-footer">
    <%= link_to 'Back', menu_path, class: 'card-link btn btn-secondary' %>
  </div>
</div>
